button.favorite {
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  background-color: gray !important;
  color: white;
  height: 34px;
  .favorite-icon.isFavorite {
      color: yellow;
  }
}